<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Sports: {{sport}}</ion-title>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <ion-segment scrollable="true" [(ngModel)]="sport" (click)='updateSport()'>
      <ion-segment-button *ngFor='let utsport of sports' value='{{utsport.name}}'>
        <i class="fa fa-{{utsport.icon}}"></i>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar *ngIf='sportObj.gendered'>
    <ion-segment [(ngModel)]="sex" (click)='updateSport()'>
      <ion-segment-button value='men' checked>
        <ion-icon name="man"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value='women'>
        <ion-icon name="woman"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-spinner *ngIf="loading" name="dots"></ion-spinner>

  <ion-list>

    <ion-card *ngIf='stats.length > 0'>
      <ion-card-header>
        <ion-card-subtitle>Stats</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <table>
          <tr>
            <td *ngFor='let stat of stats'><b>{{stat.name}}</b></td>
          </tr>
          <tr>
            <td *ngFor='let stat of stats'>{{stat.value}}</td>
          </tr>
        </table>
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor='let event of events'>
      <ion-card-header>
        <ion-avatar *ngIf='event.iconURL'>
          <img src="{{event.iconURL}}">
        </ion-avatar>
        <ion-card-subtitle>{{event.location}}</ion-card-subtitle>
        <ion-card-subtitle>{{event.date}} / {{event.time}}</ion-card-subtitle>
        <ion-card-title>
          <ion-badge color="{{event.home ? 'secondary' : 'warning'}}">{{event.home ? 'VS' : 'AT'}}</ion-badge>&nbsp;{{event.title}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-chip *ngIf='event.result' color="{{colorResult(event)}}">
          <ion-label>{{event.result}}</ion-label>
        </ion-chip>
        <ion-chip color="secondary" *ngIf='event.tv'>
          <ion-label>TV: {{event.tv}}</ion-label>
        </ion-chip>
        <br />
        <ion-button *ngFor='let action of event.actions'
          (click)='openLink(action.link)'
          size="small" fill="clear" color="tertiary">{{action.name}}</ion-button>
      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="secondary" (click)='openLink("https://texassports.com/sports/2014/5/29/tickets_0529144327.aspx")'>
      <ion-icon name="pricetags"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>