<ion-header>
  <ion-navbar color="utorange">
    <ion-title>Money</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab top right edge>
   <button ion-fab edge color="utgrey" mini (click)="fetchAccounts()"><ion-icon name="refresh"></ion-icon></button>
  </ion-fab>

  <div>
    <ion-grid>
      <ion-row>

        <ion-col *ngFor='let acc of accounts'>
            <ion-card>
              <ion-card-header>
                {{ acc.name }}
              </ion-card-header>
              <ion-card-content>
                <p><b>${{ acc.balance }}</b><p>
                <br>
                <div>
                  <ion-badge color="{{ getStatusColor(acc.status) }}" class="status">{{ acc.status }}</ion-badge>
                </div>
              </ion-card-content>
              <hr>
              <ion-row>
                <ion-col>
                  <button (click)="viewHistory(acc)" ion-button icon-start clear small>
                    <ion-icon name="list"></ion-icon>
                    <div>History</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button (click)="addFunds(acc)" ion-button icon-start clear small>
                    <ion-icon name="cash"></ion-icon>
                    <div>Add Funds</div>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>



  <!-- Login prompt -->
  <div class="addchip" *ngIf="!accounts || accounts.length == 0">
    <ion-chip>
      <ion-icon (click)="fetchAccounts()" name="refresh" color="utgrey"></ion-icon>
      <ion-label>Add your accounts</ion-label>
    </ion-chip>
  </div>

</ion-content>
