
.card-list {
    ion-card-content {
        padding-top: 0px;
        margin-top: -12px;
        ul {
            padding: 0px 0px 0px 12px;
        }
    }
}

.small-chip {
    font-size: .7em;
}

.no-radius {
    border-radius: 0px;
}

.no-pad {
    padding: 0px;
}