<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-card class="card-list">
      <ion-card-header>
        <ion-card-subtitle>Registration <ion-chip color="success">
            <ion-label>No Bars</ion-label>
          </ion-chip>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-chip class="small-chip">
          <ion-label><b>Nov 4, 10 AM - Midnight</b></ion-label>
        </ion-chip>
        <ion-chip class="small-chip">
          <ion-label>Nov 5 - 7, 7 PM - Midnight</ion-label>
        </ion-chip>
        <ion-chip class="small-chip">
          <ion-label>Nov 8, 8 AM - Midnight</ion-label>
        </ion-chip>
        <ion-chip class="small-chip">
          <ion-label>Nov 8, 8 AM - Midnight</ion-label>
        </ion-chip>
        <ion-chip class="small-chip">
          <ion-label>Nov 8, 8 AM - Midnight</ion-label>
        </ion-chip>
        <ion-chip class="small-chip">
          <ion-label>Nov 8, 8 AM - Midnight</ion-label>
        </ion-chip>
        <ion-button expand="block" color="primary">Register</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Courses</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-icon name="search" slot="end"></ion-icon>
          <ion-label>Course Search</ion-label>
        </ion-item>
        <ul>
            <li>C S 331 Algorithms And Complexity <ion-chip color="warning"><ion-label>5 of 15</ion-label></ion-chip></li>
          </ul>
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>