<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>Safety</ion-list-header>

    <ion-item (click)="callNumber('5124714441')"><ion-label>UTPD <b style="float: right">(512)-471-4441</b></ion-label></ion-item>
    <ion-item (click)="callNumber('5122325050')"><ion-label>Behavior Concerns <b style="float: right">(512)-232-5050</b></ion-label></ion-item>
    <ion-item (click)="callNumber('5124712255')"><ion-label>24/7 Crisis Line <b style="float: right">(512)-471-2255</b></ion-label></ion-item>
    <ion-item (click)="openLink('https://cmhc.utexas.edu/')"><ion-label>Mental Health Center</ion-label></ion-item>
    <ion-item (click)="callNumber('5122329255')"><ion-label>Sure Walk <b style="float: right">(512)-232-9255</b></ion-label></ion-item>
    <ion-item (click)="openLink('https://parking.utexas.edu/sure')"><ion-label>Sure Ride</ion-label></ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>Academics</ion-list-header>

    <ion-item (click)="openLink('https://utexas.instructure.com/')"><ion-label>Canvas</ion-label></ion-item>
    <ion-item (click)="openLink('https://quest.cns.utexas.edu/student/legals/view')"><ion-label>Quest</ion-label></ion-item>
    <ion-item (click)="openLink('https://utdirect.utexas.edu/registrar/exam_schedule.WBX')"><ion-label>Final Exam Schedule</ion-label></ion-item>
    <ion-item (click)="openLink('https://utdirect.utexas.edu/apps/student/gradereport/')"><ion-label>My Grades</ion-label></ion-item>
    <ion-item (click)="openLink('http://registrar.utexas.edu/transcripts')"><ion-label>Order a Transcript</ion-label></ion-item>
    <ion-item (click)="openLink('https://utexas.collegescheduler.com/')"><ion-label>UT Schedule Planner</ion-label></ion-item>
    <ion-item (click)="openLink('https://utdirect.utexas.edu/registration/chooseSemester.WBX')"><ion-label>Register for Classes</ion-label></ion-item>
    <ion-item (click)="openLink('https://utdirect.utexas.edu/registrar/ris.WBX')"><ion-label>Registration Info (RIS)</ion-label></ion-item>
    <ion-item (click)="openLink('https://registrar.utexas.edu/schedules')"><ion-label>Course Schedules</ion-label></ion-item>
    <ion-item (click)="openLink('https://utdirect.utexas.edu/apps/degree/audits/')"><ion-label>Degree Progress (IDA)</ion-label></ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>Finance</ion-list-header>

    <ion-item (click)="openLink('https://utdirect.utexas.edu/bevobucks/addBucks.WBX')"><ion-label>Add Bevo Bucks</ion-label></ion-item>
    <ion-item (click)="openLink('https://utdirect.utexas.edu/faweb/cash/index.WBX')"><ion-label>CASH</ion-label></ion-item>
    <ion-item (click)="openLink('https://utdirect.utexas.edu/acct/rec/irs1098t/index.WBX')"><ion-label>IRS Form 1098</ion-label></ion-item>
    <ion-item (click)="openLink('https://utdirect.utexas.edu/acct/fb/my_tuition/my_tuition_home.WBX')"><ion-label>My Tuition</ion-label></ion-item>
    <ion-item (click)="openLink('https://utdirect.utexas.edu/acct/rec/wio/wio_home.WBX')"><ion-label>What I Owe</ion-label></ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>Transportation</ion-list-header>

    <ion-item (click)="openLink('https://parking.utexas.edu/parking')"><ion-label>Campus Parking</ion-label></ion-item>
    <ion-item (click)="openLink('https://www.capmetro.org/')"><ion-label>Austin Metro</ion-label></ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header>Other</ion-list-header>

    <ion-item (click)="openLink('https://utdirect.utexas.edu/apps/utd/all_my_addresses/')"><ion-label>My Addresses</ion-label></ion-item>
    <ion-item (click)="openLink('https://utdirect.utexas.edu/hfis/index.WBX')"><ion-label>My Housing</ion-label></ion-item>
    <ion-item (click)="openLink('https://utdirect.utexas.edu/student/abroad/shared_start.WBX')"><ion-label>My Study Abroad</ion-label></ion-item>
    <ion-item (click)="openLink('https://portal.uhs.utexas.edu/login_directory.aspx')"><ion-label>My UHS (Health Services)</ion-label></ion-item>
    <ion-item (click)="openLink('https://utexas.campuslabs.com/engage/')"><ion-label>HornsLink</ion-label></ion-item>

  </ion-list>

</ion-content>
