<ion-split-pane>
  <ion-menu contentId="content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-item color="primary">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>ss86692</ion-label>
        </ion-item>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="exit"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item-divider>
            <ion-label>Utilities</ion-label>
          </ion-item-divider>
          <ion-item routerDirection="root">
            <ion-label>
              Health/Safety
            </ion-label>
          </ion-item>
          <ion-item routerDirection="root">
            <ion-label>
              Voting
            </ion-label>
          </ion-item>
          <ion-item routerDirection="root">
            <ion-label>
              Sports
            </ion-label>
          </ion-item>
          <ion-item-divider>
            <ion-label>Links</ion-label>
          </ion-item-divider>
          <ion-item [routerLink]="'/menu/links'" routerDirection="forward">
            <ion-label>
              Academics
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="'/menu/links'" routerDirection="forward">
            <ion-label>
              Finance
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="'/menu/links'" routerDirection="forward">
            <ion-label>
              Misc
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>