<ion-header>

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>

    <ion-title>{{ course ? course.title : 'Assignments' }}</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list *ngIf="course">

    <ion-item *ngFor='let assign of course.assignments'>
      <ion-label>
        {{ assign.title }}
        <p>{{ assign.gradetype }} {{ assign.due != '' ? '(' + assign.due + ')' : '' }}</p>
      </ion-label>
      <ion-badge *ngIf="!showDecimalScores" 
                 (click)="toggleScoreFormat()" 
                 color='{{ assign.score == "?" ? "light" : "success" }}' 
                 slot='end'>
        {{ assign.score }}/{{ assign.maxscore }}
      </ion-badge>
      <ion-badge *ngIf="showDecimalScores" 
                 (click)="toggleScoreFormat()" 
                 color='{{ assign.score == "?" ? "light" : "success" }}' 
                 slot='end'>
        {{ assign.score == '?' ? '--.--' : (+assign.score / +assign.maxscore * 100).toFixed(2) }}%
      </ion-badge>
    </ion-item>

  </ion-list>

</ion-content>
