<ion-header>

  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/tabs/(canvas:canvas)"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ course ? course.title : 'Assignments'}}</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-spinner *ngIf="loading" name="dots"></ion-spinner>

  <ion-list>

    <ion-item *ngFor='let assign of course.assignments'>
      <ion-label>
        {{ assign.title }}
        <p>{{ assign.gradetype }} ({{ assign.due }})</p>
      </ion-label>
      <ion-badge color='{{ assign.score == "?" ? "light" : "success" }}' slot='end'>{{ assign.score }}/{{ assign.maxscore }}</ion-badge>
    </ion-item>

  </ion-list>

</ion-content>
