<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Grades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner *ngIf="loading" name="dots"></ion-spinner>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
    <ion-fab-button size="small" color="secondary" (click)="updateGrades()">
      <ion-icon name="{{ courses.length == 0 ? 'add' : 'refresh' }}"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="!loading">

    <div *ngFor='let course of courses'>
      <ion-item *ngIf='course.grade || course.grade === 0'>
        <div class="course-icon"><i class="fa fa-{{ getIcon(course) }}" slot="start"></i></div>
        <ion-label>
          <h2 (click)="showAssignments(course)">{{ course.title }}</h2>
          <p>{{ course.code }}</p>
        </ion-label>
        <ion-badge *ngIf='course.grade' color='success' slot="end">{{ course.grade.toFixed(2) }}%</ion-badge>
      </ion-item>
    </div>

  </ion-list>

  <div style="text-align: center;" *ngIf="outdated && courses.length != 0 && !loading">
    <ion-chip (click)="updateGrades()">
      <ion-icon name="refresh" color="secondary"></ion-icon>
      <ion-label>Load Latest Grades</ion-label>
    </ion-chip>
  </div>

  <div style="text-align: center;" *ngIf="courses.length == 0 && !loading">
    <ion-chip (click)="updateGrades()">
      <ion-icon name="add" color="secondary"></ion-icon>
      <ion-label>Add Canvas Courses</ion-label>
    </ion-chip>
  </div>

</ion-content>