<ion-header>

  <ion-navbar color="utorange">
    <ion-title>Classes</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="scheduleView">
      <ion-segment-button value="current">
        Current
      </ion-segment-button>
      <ion-segment-button value="finals">
        Finals
      </ion-segment-button>
      <ion-segment-button value="future">
        Future
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <ion-fab bottom right #fab>
      <button ion-fab mini color="utgrey" mini (click)="fetchSchedule()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-fab top right *ngIf="currentCalendar.classes.length > 0 && scheduleView=='current'">
   <button ion-fab mini color="blue" mini (click)="saveToCalendar()"><ion-icon name="download"></ion-icon></button>
  </ion-fab>

  <!-- Current Time as line _____ -->
  <hr class="timenow-bar" [style.top.px]="timeNowBarOffset">

  <div [ngSwitch]="scheduleView">

    <div *ngSwitchCase="'current'">

      <!-- Render a fancy Object[][] data structure -->
      <ion-grid *ngIf="currentCalendar.weekMatrix.length > 1" class='calendar'>
        <ion-row *ngFor='let row of currentCalendar.weekMatrix'>
          <ion-col *ngFor='let item of row' col-2 class="{{item ? item.class : ''}}" [style.background-color]="(item && item.bg) ? item.bg : ''" (click)="(item && item.click) ? item.click() : ''">
            <p *ngIf='item'>{{ item.label }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Login prompt -->
      <div class="addchip" *ngIf="currentCalendar.classes.length == 0">
        <ion-chip>
          <ion-icon (click)="fetchSchedule()" name="add" color="utgrey"></ion-icon>
          <ion-label>Add your schedule</ion-label>
        </ion-chip>
      </div>

    </div>

    <div *ngSwitchCase="'future'">

      <ion-grid *ngIf="futureCalendar.weekMatrix.length > 1" class='calendar'>
        <ion-row *ngFor='let row of futureCalendar.weekMatrix'>
          <ion-col *ngFor='let item of row' col-2 class="{{item ? item.class : ''}}" [style.background-color]="(item && item.bg) ? item.bg : ''" (click)="(item && item.click) ? item.click() : ''">
            <p *ngIf='item'>{{ item.label }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="addchip" *ngIf="futureCalendar.classes.length == 0">
        <ion-chip>
          <ion-icon (click)="fetchSchedule()" name="add" color="utgrey"></ion-icon>
          <ion-label>Add your future schedule</ion-label>
        </ion-chip>
      </div>

    </div>

    <div *ngSwitchCase="'finals'">

      <ion-grid *ngIf="finalsCalendar.weekMatrix.length > 1" class='calendar'>
        <ion-row *ngFor='let row of finalsCalendar.weekMatrix'>
          <ion-col *ngFor='let item of row' col-2 class="{{item ? item.class : ''}}" [style.background-color]="(item && item.bg) ? item.bg : ''" (click)="(item && item.click) ? item.click() : ''">
            <p *ngIf='item'>{{ item.label }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="addchip" *ngIf="finalsCalendar.finals.length == 0">
        <ion-chip>
          <ion-icon (click)="fetchSchedule()" name="add" color="utgrey"></ion-icon>
          <ion-label>Add your finals</ion-label>
        </ion-chip>
      </div>

    </div>

  </div>

</ion-content>
