<ion-header>
  <ion-navbar color="utorange">
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab bottom right *ngIf="classes && classes.length > 0">
   <button ion-fab edge color="utgrey" mini (click)="saveToCalendar()"><ion-icon name="download"></ion-icon></button>
  </ion-fab>

  <ion-fab top right #fab>
      <button ion-fab edge color="utgrey" mini (click)="updateSchedule()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <!-- Current Time as line _____ -->
  <hr class="timenow-bar" [style.top.px]="timeNowBarOffset">

  <!-- Render a fancy Object[][] data structure -->
  <div>
    <ion-grid *ngIf="weekMatrix && weekMatrix.length > 0" class='calender'>
      <ion-row *ngFor='let row of weekMatrix'>
        <ion-col *ngFor='let item of row' col-2 class="{{item ? item.class : ''}}" [style.background-color]="(item && item.bg) ? item.bg : ''" (click)="(item && item.click) ? item.click() : ''">
          <p *ngIf='item'>{{ item.label }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Login prompt -->
  <div class="addchip" *ngIf="!weekMatrix || !classes || classes.length == 0">
    <ion-chip>
      <ion-icon (click)="fetchSchedule()" name="add" color="utgrey"></ion-icon>
      <ion-label>Add your schedule</ion-label>
    </ion-chip>
  </div>

</ion-content>
